<footer>
  <div class="container">
    <div class="footer-container">
      <div class="logo-and-info">
        <div class="logo"></div>
        <p>
          A Pixel3 é uma empresa de criação de sites profissionais. Nós
          projetamos, desenvolvemos e gerenciamos sites de alto impacto que
          geram leads, vendem produtos e contam histórias.
        </p>
      </div>
      <div class="nav">
        <p>NAVEGAÇÃO</p>
        <ul>
          <li>
            <i class="fa-sharp fa-solid fa-arrow-right"></i>
            <span><a href="">Site Sob Medida</a></span>
          </li>
          <li>
            <i class="fa-sharp fa-solid fa-arrow-right"></i>
            <span><a href="">Site Expresso</a></span>
          </li>
          <li>
            <i class="fa-sharp fa-solid fa-arrow-right"></i>
            <span><a href="">Loja Virtual</a></span>
          </li>
          <li>
            <i class="fa-sharp fa-solid fa-arrow-right"></i>
            <span><a href="">Posicionamento de site no Google</a></span>
          </li>
        </ul>
      </div>
      <div class="contactfooter">
        <p>CONTATO</p>
        <ul>
          <li>
            <i class="fa-sharp fa-solid fa-envelope"></i>
            <span><a href="#">thyagodantas@pixelthree.com.br</a></span>
          </li>
          <li>
            <i class="fa-sharp fa-solid fa-phone"></i>
            <span><a href="#">(81) 98545-0206</a></span>
          </li>
          <li>
            <i class="fa-sharp fa-solid fa-house"></i>
            <span><a href="#">Rua teste</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <div class="content-footer">
      <p class="copyright">
        © 2022 TODOS OS DIREITOS RESERVADOS – Thyago Dantas
      </p>
      <p><a href="">Política de privacidade</a></p>
    </div>
</footer>
