<header>
  <div class="container">
    <a href="http://pixelthree.com.br/" id="logo"><div class="logo"></div></a>

    <ul class="menu">
      <li><a href="#contratar">SITE SOB MEDIDA</a></li>
      <li>
        <a href="/site-expresso">SITE EXPRESSO</a>
      </li>
      <li><a href="">LOJA VIRTUAL</a></li>
      <li><a href="">PORTIFÓLIO</a></li>
    </ul>
    <div class="contato">
      <button class="open-modal contactBtn">
        <i class="fa-sharp fa-solid fa-phone"></i>CONTATO
      </button>
    </div>
    <div class="menu-mobile">
      <button class="contactBtn">
        <p id="btn-mobile">MENU</p>
      </button>
    </div>
  </div>
</header>
<div id="menu-mob" class="list-menu-mobile">
  <ul class="menu-mob">
    <li><a href="#contratar">SITE SOB MEDIDA</a></li>
    <li><a href="/site-expresso">SITE EXPRESSO</a></li>
    <li><a href="/">LOJA VIRTUAL</a></li>
    <li><a href="/">PORTIFÓLIO</a></li>
  </ul>
</div>
