<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include('includes/metas.ejs'); -%>
    <title>Obrigado pelo contato - Pixel3</title>
  </head>
  <body>
    <%- include('includes/header.ejs'); -%>

    <section class="middle-thanks">
      <div class="middle-thanks-container">
        <div class="section-one">
          <div class="box-middle-text">
            <h2 class="tittle-section-one-thanks">
              Obrigado por pedir um <br />
              orçamento com a Pixel3!
            </h2>
            <p>Em breve entraremos em contato com você.</p>
            <b>Nossos contatos:</b>
            <p>Telefone/WhatsApp (81) 98545-0206</p>
            <b>Email</b>
            <p>thyago.dantas2017@gmail.com</p>
          </div>
        </div>
        <div class="section-two">
          <img src="./images/astronauta-pixel.png.webp" alt="" />
        </div>
      </div>
    </section>

    <%- include('includes/footer.ejs'); -%>; <%-
    include('includes/scripts.ejs'); -%>;
  </body>
</html>
